asgiref
backports.zoneinfo;python_version<"3.9"
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
dj-rest-auth
Django
django-filter
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
oauthlib
phonenumbers
Pillow
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
zipp
